@model CardModel

<h6 class="display-4">Shopping Card</h6>
<hr />
@if (Model.CardItems.Count==0)
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-warning">
                Sepenizde ürün yok!
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-8">
            <div>
                <h6>Card Items</h6>
                <table class="table table-hover table-sm table-bordered">
                    <tr>
                        <th>Image</th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                        <th>Actions</th>
                    </tr>
                    @foreach (var item in Model.CardItems)
                    {
                        <tr>
                            <td><img src="~/img/@item.ImageUrl" width="50" /></td>
                            <td>@item.ProductName</td>
                            <td>@item.Price</td>
                            <td>@item.Quantity</td>
                            <td>@(item.Price*item.Quantity)</td>
                            <td>
                                <form asp-controller="Card" asp-action="DeleteFromCad" method="post">
                                    <input type="hidden" name="ProductId" value="@item.ProductId" />
                                    <button class="btn btn-danger btn-sm" type="submit">
                                        <i class="fa-solid fa-circle-xmark"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div><h6>Card Summary</h6></div>
            <table class="table table-sm table-bordered">
                <tr>
                    <th>Card Total</th>
                    <td>@Model.TotalPrice().ToString("c")</td>
                </tr>
                <tr>
                    <th>Shipping </th>
                    <td>Free</td>
                </tr>
                <tr>
                    <th>Order Total</th>
                    <td>@Model.TotalPrice().ToString("c")</td>
                </tr>
            </table>
        </div>
    </div>
}
