@model List<OrderListModel>

<h6 class="display-4">Orders</h6>
<hr />

@foreach (var order in Model)
{
    <table class="table table-sm table-bordered mb-3">
        <thead>
            <tr class="table-info">
                <th colspan="2">#@order.OrderNumber | @order.OrderDate</th>
                <td>Price</td>
                <td>Quantity</td>
                <td>Total</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in order.OrderItems)
            {
                <tr>
                    <td width="25">
                        <a href=""><img src="~/img/@item.ImageUrl" width="20" /></a>
                    </td>
                    <td>@item.Name</td>
                    <td width="100">@item.Price</td>
                    <td width="25">@item.Quantity</td>
                    <td width="150">@((item.Price*item.Quantity).ToString("c"))</td>
                </tr>

            }
        </tbody>
        <tfoot>
            <tr>
                <th colspan="4"><span class="text-info">Customer Name: </span>@order.FirstName  @order.LastName</th>
                <td rowspan="4">@order.TotalPrice().ToString("c")</td>
            </tr>
            <tr>
                <th colspan="2"><span class="text-info">Customer Adress: </span>@order.Adress </th>
                <th colspan="2" width="400"><span class="text-info">Customer City: </span>@order.City </th>

            </tr>
            <tr>
                <th colspan="2"><span class="text-info">Customer Phone: </span>@order.Phone </th>
                <th colspan="2"><span class="text-info">Customer Email: </span>@order.Email </th>

            </tr>
            <tr>
                <th colspan="2"><span class="text-info">Order State: </span>@order.OrderState </th>
                <th colspan="2"><span class="text-info">Payment Type: </span>@order.PaymentType  </th>
            </tr>
        </tfoot>
    </table>
}