@model ProductDetailModel

    <div class="row">
        <div class="col-md-2">
            <img src="~/img/@Model.Product.ImageUrl" class="img-fluid" alt="Alternate Text" />
        </div>
        <div class="col-md-10">
            <h1 class="mb-3">@Model.Product.Name</h1>
            <hr />
            @foreach (var item in Model.Categories) 
            {
                <a 
                   asp-controller="MiniShop"
                   asp-action="List"
                   asp-route-category="@item.Url"
                   class="btn btn-link p-0 mb-3">@item.Name </a>  
            }
            <div class="mb-3">
                <h4 class="text-primary">@Model.Product.Price <i class="fa-solid fa-turkish-lira-sign"></i></h4>
                <div class="mb-3">
                    <p>@Model.Product.Description</p>
                </div>
                <form asp-controller="Card" asp-action="AddToCard"  method="post">
                    <input type="hidden" name="productId" value="@Model.Product.ProductId" />
                    <div class="input-group w-25">
                        <div>
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-shopping-cart"></i>
                            Add to Card</button>
                        </div>
                        <input type="number" class="form-control" name="quantity" value="1" min="1" max="5" step="1" />
                    </div>


                </form>
                
            </div>
        </div>
    </div>
