@model UserDetailsModel
<h5 class="display-4">Edit User</h5>
<hr />
<form asp-controller="Admin" asp-action="UserEdit" method="post">
    <div class="row">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="col-md-8">

            <div class="form-group row mb-2">
                <label class="col-form-label col-sm-3">First Name:</label>
                <div class="col-sm-9">
                    <input type="text" asp-for="FirstName" class="form-control" />
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-form-label col-sm-3">Last Name:</label>
                <div class="col-sm-9">
                    <input type="text" asp-for="LastName" class="form-control" />
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-form-label col-sm-3">User Name:</label>
                <div class="col-sm-9">
                    <input type="text" asp-for="UserName" class="form-control" />
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-form-label col-sm-3">Email:</label>
                <div class="col-sm-9">
                    <input type="text" asp-for="Email" class="form-control" />
                </div>
            </div>

            <div class="form-group row mb-2">
                <input type="hidden" name="UserId" value="@Model.UserId" />
                <div class="col-sm-9">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            @foreach (var roleName in ViewBag.Roles)
            {
                <div class="form-check">
                    <input 
                           type="checkbox" 
                           class="form-check-input" 
                           value="@roleName" 
                           name="selectedRoles" 
                           id="@roleName"
                           @if (Model.SelectedRoles != null) { @(Model.SelectedRoles.Any(i => i == roleName) ? "checked" : "")  } />


                    <label class="form-check-label">@roleName</label>
                </div>
            }

            <hr />
            <div class="form-check">
                <input type="checkbox" asp-for="EmailConfirmed" class="form-check-input" />
                <label class="form-check-label">Email Confirmed</label>
            </div>

       
        </div>
    </div>
</form>